@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
#rodape {
    background-color: rgb(114, 172, 75);
}

.card {
    /* Define uma altura minima para todos os cartoes. */
    min-height: 25vh;
    /* Aumenta o espaçamento interno entre a borda do cartao e o texto dos paragrafos. */
    padding: 15px;
}

h5 {
    font-family: "Story Script", sans-serif;
}

iframe {
    /* Mapa ocupa 100% da largura da tela */
    width: 100%;
    /* Mapa ocupa 90% da altura . Usamos '90%' para nao sobrepor o titulo do cartao (localizaçao) */
    height: 80%;
    /* Posiciona o mapa a partir do rodape do cartao */
    position: absolute;
    bottom: 0;
    /* remove o espaçamento interno (padding) do cartao do mapa. */
    left: 0; 
}